# Group Assignment Preparation
Unpack the file "IS453 Group Assignment - Data.zip"<BR>
Based on the data files and data dictionary, answer the questions below.

**DIY Q4: Explore Assignment Data**
- How many rows and column in each data file?
- Through which variable is the data in two files linked?
- Is the relationship between the records in the files one-to-one or one-to-many? In which direction?
- Are all of the records in each file linked to the other? If not, which file has unlinked records?
- Which variables would potentially conflict with fair lending principles?

Application Data.csv: 307511 rows, 120 columns
Bureau Data.csv: 1716428 rows, 17 columns

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%pip install openpyxl

Requirement already satisfied: openpyxl in /opt/anaconda3/envs/is453/lib/python3.10/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /opt/anaconda3/envs/is453/lib/python3.10/site-packages (from openpyxl) (2.0.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
app_df = pd.read_csv('IS453 Group Assignment - Application Data.csv')
bureau_df = pd.read_csv('IS453 Group Assignment - Bureau Data.csv')
data_df = pd.read_excel('IS453 Group Assignment - Data Dict.xlsx', sheet_name=['Application Data', 'Bureau Data'])

In [4]:
print(f"Application Data: {app_df.shape[0]} rows, {app_df.shape[1]} columns")
print(f"Bureau Data: {bureau_df.shape[0]} rows, {bureau_df.shape[1]} columns")

Application Data: 307511 rows, 120 columns
Bureau Data: 1716428 rows, 17 columns

In [5]:
common_cols = set(app_df.columns) & set(bureau_df.columns)
print("Common columns:", common_cols)

Common columns: {'AMT_ANNUITY', 'SK_ID_CURR'}

In [6]:
print(f"Unique SK_ID_CURR in app_df: {app_df['SK_ID_CURR'].nunique()}")
print(f"Total rows in app_df: {len(app_df)}")
print(f"Duplicates in app_df: {app_df['SK_ID_CURR'].duplicated().sum()}")

print(f"\nUnique SK_ID_CURR in bureau_df: {bureau_df['SK_ID_CURR'].nunique()}")
print(f"Total rows in bureau_df: {len(bureau_df)}")
print(f"Duplicates in bureau_df: {bureau_df['SK_ID_CURR'].duplicated().sum()}")

Unique SK_ID_CURR in app_df: 307511
Total rows in app_df: 307511
Duplicates in app_df: 0

Unique SK_ID_CURR in bureau_df: 305811
Total rows in bureau_df: 1716428
Duplicates in bureau_df: 1410617

In [7]:
app_ids = set(app_df['SK_ID_CURR'])
bureau_ids = set(bureau_df['SK_ID_CURR'])

print(f"IDs only in app_df: {len(app_ids - bureau_ids)}")
print(f"IDs only in bureau_df: {len(bureau_ids - app_ids)}")
print(f"IDs in both: {len(app_ids & bureau_ids)}")

IDs only in app_df: 44020
IDs only in bureau_df: 42320
IDs in both: 263491

In [8]:
# Check column names for potentially sensitive variables
sensitive_keywords = ['GENDER', 'AGE', 'BIRTH', 'FAMILY', 'CHILDREN', 'RACE', 'RELIGION', 'ETHNICITY']

potentially_sensitive = [col for col in app_df.columns if any(keyword in col.upper() for keyword in sensitive_keywords)]
print("Potentially sensitive variables:")
for col in potentially_sensitive:
    print(f"  - {col}")

Potentially sensitive variables:
  - CODE_GENDER
  - CNT_CHILDREN
  - NAME_FAMILY_STATUS
  - DAYS_BIRTH
  - OWN_CAR_AGE

In [9]:
print(data_df)

{'Application Data':                             Row  \
0                    SK_ID_CURR
1                        TARGET
2            NAME_CONTRACT_TYPE
3                   CODE_GENDER
4                  FLAG_OWN_CAR
..                          ...
115   AMT_REQ_CREDIT_BUREAU_DAY
116  AMT_REQ_CREDIT_BUREAU_WEEK
117   AMT_REQ_CREDIT_BUREAU_MON
118   AMT_REQ_CREDIT_BUREAU_QRT
119  AMT_REQ_CREDIT_BUREAU_YEAR

                                           Description Special
0                             ID of loan in our sample     NaN
1    Target variable (1 - client with payment diffi...     NaN
2          Identification if loan is cash or revolving     NaN
3                                 Gender of the client     NaN
4                        Flag if the client owns a car     NaN
..                                                 ...     ...
115  Number of enquiries to Credit Bureau about the...     NaN
116  Number of enquiries to Credit Bureau about the...     NaN
117  Number of enquiries to Credit Bureau about the...     NaN
118  Number of enquiries to Credit Bureau about the...     NaN
119  Number of enquiries to Credit Bureau about the...     NaN

[120 rows x 3 columns], 'Bureau Data':                        Row                                        Description  \
0               SK_ID_CURR  ID of loan in our sample - one loan in our sam...
1             SK_BUREAU_ID  Recoded ID of previous Credit Bureau credit re...
2            CREDIT_ACTIVE  Status of the Credit Bureau (CB) reported credits
3          CREDIT_CURRENCY       Recoded currency of the Credit Bureau credit
4              DAYS_CREDIT  How many days before current application did c...
5       CREDIT_DAY_OVERDUE  Number of days past due on CB credit at the ti...
6      DAYS_CREDIT_ENDDATE  Remaining duration of CB credit (in days) at t...
7        DAYS_ENDDATE_FACT  Days since CB credit ended at the time of appl...
8   AMT_CREDIT_MAX_OVERDUE  Maximal amount overdue on the Credit Bureau cr...
9       CNT_CREDIT_PROLONG  How many times was the Credit Bureau credit pr...
10          AMT_CREDIT_SUM  Current credit amount for the Credit Bureau cr...
11     AMT_CREDIT_SUM_DEBT               Current debt on Credit Bureau credit
12    AMT_CREDIT_SUM_LIMIT  Current credit limit of credit card reported i...
13  AMT_CREDIT_SUM_OVERDUE     Current amount overdue on Credit Bureau credit
14             CREDIT_TYPE       Type of Credit Bureau credit (Car, cash,...)
15      DAYS_CREDIT_UPDATE  How many days before loan application did last...
16             AMT_ANNUITY                Annuity of the Credit Bureau credit

    Special
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
5       NaN
6       NaN
7       NaN
8       NaN
9       NaN
10      NaN
11      NaN
12      NaN
13      NaN
14      NaN
15      NaN
16      NaN  }

In [10]:
bureau_df.head()

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
0,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.0,0.0,NaN,0.0,Consumer credit,-131,NaN
1,215354,5714463,Active,currency 1,-208,0,1075.0,NaN,NaN,0,225000.0,171342.0,NaN,0.0,Credit card,-20,NaN
2,215354,5714464,Active,currency 1,-203,0,528.0,NaN,NaN,0,464323.5,NaN,NaN,0.0,Consumer credit,-16,NaN
3,215354,5714465,Active,currency 1,-203,0,NaN,NaN,NaN,0,90000.0,NaN,NaN,0.0,Credit card,-16,NaN
4,215354,5714466,Active,currency 1,-629,0,1197.0,NaN,77674.5,0,2700000.0,NaN,NaN,0.0,Consumer credit,-21,NaN

In [11]:
app_df.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
app_df['NAME_INCOME_TYPE'].value_counts()

NAME_INCOME_TYPE
Working                 158774
Commercial associate     71617
Pensioner                55362
State servant            21703
Unemployed                  22
Student                     18
Businessman                 10
Maternity leave              5
Name: count, dtype: int64

In [13]:
age_count = app_df['DAYS_BIRTH'][[-16425 < x <= -9125 for x in app_df['DAYS_BIRTH']]].count()
income_count = app_df['AMT_INCOME_TOTAL'][[36000 <= x <= 72000 for x in app_df['AMT_INCOME_TOTAL']]].count()
employment_count = app_df['DAYS_EMPLOYED'][app_df['DAYS_EMPLOYED'] <= -365].count()
contract_count = app_df['NAME_CONTRACT_TYPE'][app_df['NAME_CONTRACT_TYPE'] == 'Cash loans'].value_counts()

print(f"Count of applicants age: {age_count}")
print(f"Count of applicants income: {income_count}")
print(f"Count of applicants employment: {employment_count}")
print(f"Count of applicants contract: {contract_count}")

Count of applicants age: 156565
Count of applicants income: 23229
Count of applicants employment: 224233
Count of applicants contract: NAME_CONTRACT_TYPE
Cash loans    278232
Name: count, dtype: int64

In [14]:
import pandas as pd
import numpy as np

# Load your datasets (assuming you already have them loaded)
# app_df = pd.read_csv('IS453 Group Assignment - Application Data.csv')
# bureau_df = pd.read_csv('IS453 Group Assignment - Bureau Data.csv')

print("="*80)
print("DATA QUALITY CHECK - APPLICATION DATA")
print("="*80)

# 1. Check for missing values in KEY columns needed for filtering
print("\n1. MISSING VALUES IN KEY FILTERING COLUMNS:")
key_columns = ['SK_ID_CURR', 'DAYS_BIRTH', 'DAYS_EMPLOYED', 'AMT_INCOME_TOTAL', 
               'NAME_INCOME_TYPE', 'NAME_CONTRACT_TYPE', 'TARGET']

missing_summary = {}
for col in key_columns:
    if col in app_df.columns:
        missing_count = app_df[col].isna().sum()
        missing_pct = (missing_count / len(app_df)) * 100
        missing_summary[col] = {
            'Missing Count': missing_count,
            'Missing %': f"{missing_pct:.2f}%"
        }
        print(f"  {col}: {missing_count} missing ({missing_pct:.2f}%)")
    else:
        print(f"  {col}: COLUMN NOT FOUND")

# 2. Check for duplicates in SK_ID_CURR
print("\n2. DUPLICATE CHECK:")
duplicates = app_df['SK_ID_CURR'].duplicated().sum()
print(f"  Duplicate SK_ID_CURR in app_df: {duplicates}")

# 3. Check for invalid/outlier values in filtering columns
print("\n3. OUTLIER/INVALID VALUE CHECK:")

# Check DAYS_BIRTH (should be negative, typically between -7300 and -36500)
print("\n  DAYS_BIRTH (Age):")
print(f"    Min: {app_df['DAYS_BIRTH'].min()} (Age: {abs(app_df['DAYS_BIRTH'].min())/365:.1f} years)")
print(f"    Max: {app_df['DAYS_BIRTH'].max()} (Age: {abs(app_df['DAYS_BIRTH'].max())/365:.1f} years)")
invalid_birth = app_df[(app_df['DAYS_BIRTH'] > 0) | (app_df['DAYS_BIRTH'] < -36500)]
print(f"    Invalid/Extreme values: {len(invalid_birth)}")

# Check DAYS_EMPLOYED
print("\n  DAYS_EMPLOYED:")
print(f"    Min: {app_df['DAYS_EMPLOYED'].min()}")
print(f"    Max: {app_df['DAYS_EMPLOYED'].max()}")
# Check for positive values (invalid) or extremely high values
invalid_employed = app_df[(app_df['DAYS_EMPLOYED'] > 0) | (app_df['DAYS_EMPLOYED'] < -18250)]
print(f"    Suspicious values: {len(invalid_employed)}")
# Check for the common placeholder value 365243
placeholder_employed = (app_df['DAYS_EMPLOYED'] == 365243).sum()
print(f"    Placeholder values (365243): {placeholder_employed}")

# Check AMT_INCOME_TOTAL
print("\n  AMT_INCOME_TOTAL:")
print(f"    Min: {app_df['AMT_INCOME_TOTAL'].min()}")
print(f"    Max: {app_df['AMT_INCOME_TOTAL'].max()}")
print(f"    Mean: {app_df['AMT_INCOME_TOTAL'].mean():.2f}")
print(f"    Median: {app_df['AMT_INCOME_TOTAL'].median():.2f}")
# Check for zero or negative income
invalid_income = app_df[app_df['AMT_INCOME_TOTAL'] <= 0]
print(f"    Zero/Negative income: {len(invalid_income)}")

# Check TARGET variable
print("\n  TARGET (Default Indicator):")
print(f"    Value counts:\n{app_df['TARGET'].value_counts()}")
print(f"    Default rate: {app_df['TARGET'].mean()*100:.2f}%")

print("\n" + "="*80)
print("DATA QUALITY CHECK - BUREAU DATA")
print("="*80)

# 4. Check bureau data
print("\n4. BUREAU DATA STRUCTURE:")
print(f"  Total records: {len(bureau_df)}")
print(f"  Unique customers: {bureau_df['SK_ID_CURR'].nunique()}")
print(f"  Average records per customer: {len(bureau_df)/bureau_df['SK_ID_CURR'].nunique():.2f}")

# Check for missing SK_ID_CURR
missing_ids = bureau_df['SK_ID_CURR'].isna().sum()
print(f"  Missing SK_ID_CURR: {missing_ids}")

# Check key bureau columns for missing values
print("\n5. MISSING VALUES IN BUREAU KEY COLUMNS:")
bureau_key_cols = ['SK_ID_CURR', 'SK_ID_BUREAU', 'CREDIT_ACTIVE', 'CREDIT_TYPE', 
                   'DAYS_CREDIT', 'AMT_CREDIT_SUM']
for col in bureau_key_cols:
    if col in bureau_df.columns:
        missing = bureau_df[col].isna().sum()
        missing_pct = (missing / len(bureau_df)) * 100
        print(f"  {col}: {missing} ({missing_pct:.2f}%)")

print("\n" + "="*80)
print("RECOMMENDATIONS")
print("="*80)

print("\nBased on the checks above:")
print("\n1. CRITICAL ISSUES TO ADDRESS BEFORE MERGING:")

# Check if any critical columns have issues
critical_issues = []

if missing_summary.get('SK_ID_CURR', {}).get('Missing Count', 0) > 0:
    critical_issues.append("   ⚠ SK_ID_CURR has missing values - these records cannot be merged")

if missing_summary.get('TARGET', {}).get('Missing Count', 0) > 0:
    critical_issues.append("   ⚠ TARGET has missing values - cannot calculate bad rates accurately")

if placeholder_employed > 0:
    critical_issues.append(f"   ⚠ {placeholder_employed} records have placeholder DAYS_EMPLOYED value (365243)")
    critical_issues.append("      Consider: Treat as missing or create separate category")

if len(invalid_income) > 0:
    critical_issues.append(f"   ⚠ {len(invalid_income)} records have zero/negative income")

if len(critical_issues) > 0:
    for issue in critical_issues:
        print(issue)
else:
    print("   ✓ No critical issues found in key merge columns")

print("\n2. RECOMMENDED ACTIONS BEFORE FILTERING:")
print("   • Keep all records for now - filtering will handle data quality")
print("   • Document any known data quality issues")
print("   • Decide on bureau aggregation strategy")

print("\n3. DATA CLEANING TO DO AFTER MERGING:")
print("   • Handle missing values systematically")
print("   • Treat outliers using z-score method or domain knowledge")
print("   • Create engineered features from bureau data")
print("   • Perform feature selection for modeling")

================================================================================
DATA QUALITY CHECK - APPLICATION DATA
================================================================================

1. MISSING VALUES IN KEY FILTERING COLUMNS:
  SK_ID_CURR: 0 missing (0.00%)
  DAYS_BIRTH: 0 missing (0.00%)
  DAYS_EMPLOYED: 0 missing (0.00%)
  AMT_INCOME_TOTAL: 0 missing (0.00%)
  NAME_INCOME_TYPE: 0 missing (0.00%)
  NAME_CONTRACT_TYPE: 0 missing (0.00%)
  TARGET: 0 missing (0.00%)

2. DUPLICATE CHECK:
  Duplicate SK_ID_CURR in app_df: 0

3. OUTLIER/INVALID VALUE CHECK:

  DAYS_BIRTH (Age):
    Min: -25229 (Age: 69.1 years)
    Max: -7489 (Age: 20.5 years)
    Invalid/Extreme values: 0

  DAYS_EMPLOYED:
    Min: -17912
    Max: 365243
    Suspicious values: 55374
    Placeholder values (365243): 55374

  AMT_INCOME_TOTAL:
    Min: 25650.0
    Max: 117000000.0
    Mean: 168797.92
    Median: 147150.00
    Zero/Negative income: 0

  TARGET (Default Indicator):
    Value counts:
TARGET
0    282686
1     24825
Name: count, dtype: int64
    Default rate: 8.07%

================================================================================
DATA QUALITY CHECK - BUREAU DATA
================================================================================

4. BUREAU DATA STRUCTURE:
  Total records: 1716428
  Unique customers: 305811
  Average records per customer: 5.61
  Missing SK_ID_CURR: 0

5. MISSING VALUES IN BUREAU KEY COLUMNS:
  SK_ID_CURR: 0 (0.00%)
  SK_ID_BUREAU: 0 (0.00%)
  CREDIT_ACTIVE: 0 (0.00%)
  CREDIT_TYPE: 0 (0.00%)
  DAYS_CREDIT: 0 (0.00%)
  AMT_CREDIT_SUM: 13 (0.00%)

================================================================================
RECOMMENDATIONS
================================================================================

Based on the checks above:

1. CRITICAL ISSUES TO ADDRESS BEFORE MERGING:
   ⚠ 55374 records have placeholder DAYS_EMPLOYED value (365243)
      Consider: Treat as missing or create separate category

2. RECOMMENDED ACTIONS BEFORE FILTERING:
   • Keep all records for now - filtering will handle data quality
   • Document any known data quality issues
   • Decide on bureau aggregation strategy

3. DATA CLEANING TO DO AFTER MERGING:
   • Handle missing values systematically
   • Treat outliers using z-score method or domain knowledge
   • Create engineered features from bureau data
   • Perform feature selection for modeling

In [17]:
import pandas as pd
import numpy as np

# Assume you have already loaded:
# app_df = pd.read_csv('IS453 Group Assignment - Application Data.csv')

print("="*80)
print("APPLYING DATA SELECTION CRITERIA FOR LIFELONG LEARNING LOANS")
print("="*80)

# Store original dataset metrics
total_original = len(app_df)
original_bad_count = app_df['TARGET'].sum()
original_bad_rate = app_df['TARGET'].mean() * 100

print(f"\nORIGINAL DATASET:")
print(f"  Total records: {total_original:,}")
print(f"  Goods (TARGET=0): {(app_df['TARGET']==0).sum():,}")
print(f"  Bads (TARGET=1): {original_bad_count:,}")
print(f"  Bad rate: {original_bad_rate:.2f}%")

print("\n" + "="*80)
print("APPLYING 5 FILTERING CRITERIA")
print("="*80)

# Apply all 5 criteria simultaneously
filtered_df = app_df[
    (app_df['DAYS_BIRTH'] >= -20075) & 
    (app_df['DAYS_BIRTH'] <= -9125) &
    (app_df['AMT_INCOME_TOTAL'] >= 36000) & 
    (app_df['AMT_INCOME_TOTAL'] <= 72000) &
    (app_df['DAYS_EMPLOYED'] <= -365) &
    (app_df['NAME_CONTRACT_TYPE'] == 'Cash loans') &
    (app_df['NAME_INCOME_TYPE'].isin(['Working', 'Commercial associate', 'State servant']))
]

# Calculate filtered dataset metrics
total_filtered = len(filtered_df)
filtered_bad_count = filtered_df['TARGET'].sum()
filtered_bad_rate = filtered_df['TARGET'].mean() * 100

percentage_retained = (total_filtered / total_original) * 100

print("\nFILTERED DATASET (Target Segment):")
print(f"  Total records: {total_filtered:,}")
print(f"  Goods (TARGET=0): {(filtered_df['TARGET']==0).sum():,}")
print(f"  Bads (TARGET=1): {filtered_bad_count:,}")
print(f"  Bad rate: {filtered_bad_rate:.2f}%")

print("\n" + "="*80)
print("COMPARISON METRICS")
print("="*80)

# Calculate differences
bad_rate_difference = filtered_bad_rate - original_bad_rate
retention_rate = percentage_retained

print(f"\nRETENTION:")
print(f"  Records retained: {total_filtered:,} out of {total_original:,}")
print(f"  Retention rate: {retention_rate:.2f}%")

print(f"\nBAD RATE COMPARISON:")
print(f"  Original bad rate: {original_bad_rate:.2f}%")
print(f"  Filtered bad rate: {filtered_bad_rate:.2f}%")
print(f"  Difference: {bad_rate_difference:+.2f} percentage points")

if bad_rate_difference < 0:
    print(f"  → Target segment is LOWER RISK (better than average)")
elif bad_rate_difference > 0:
    print(f"  → Target segment is HIGHER RISK (worse than average)")
else:
    print(f"  → Target segment has SIMILAR RISK to overall portfolio")

print("\n" + "="*80)
print("BREAKDOWN BY INDIVIDUAL CRITERIA")
print("="*80)

# Show impact of each filter
print("\nHow each criterion narrows the dataset:")

criteria = [
    ('1. Age (25-55 years)', 
     app_df[(app_df['DAYS_BIRTH'] >= -20075) & (app_df['DAYS_BIRTH'] <= -9125)]),
    ('2. Employment (1+ years)', 
     app_df[app_df['DAYS_EMPLOYED'] <= -365]),
    ('3. Income (36K-72K)', 
     app_df[(app_df['AMT_INCOME_TOTAL'] >= 36000) & (app_df['AMT_INCOME_TOTAL'] <= 72000)]),
    ('4. Income Type (Working/Commercial/State)', 
     app_df[app_df['NAME_INCOME_TYPE'].isin(['Working', 'Commercial associate', 'State servant'])]),
    ('5. Contract Type (Cash loans)', 
     app_df[app_df['NAME_CONTRACT_TYPE'] == 'Cash loans'])
]

for name, subset in criteria:
    count = len(subset)
    pct = (count / total_original) * 100
    bad_rate = subset['TARGET'].mean() * 100
    print(f"\n{name}")
    print(f"  Records: {count:,} ({pct:.2f}%)")
    print(f"  Bad rate: {bad_rate:.2f}%")


print(f"""
DATA SELECTION RESULTS:

1. ORIGINAL DATASET SIZE: {total_original:,} applicants

2. FILTERED DATASET SIZE: {total_filtered:,} applicants
   - Retention rate: {retention_rate:.2f}%

3. BAD RATE COMPARISON:
   - Original dataset: {original_bad_rate:.2f}%
   - Target segment: {filtered_bad_rate:.2f}%
   - Difference: {bad_rate_difference:+.2f} percentage points

4. INTERPRETATION:
   The target segment for lifelong learning loans (mid-career professionals
   aged 25-45 with stable employment and middle income) represents 
   {retention_rate:.2f}% of the original dataset and shows a 
   {"LOWER" if bad_rate_difference < 0 else "HIGHER" if bad_rate_difference > 0 else "SIMILAR"} 
   default risk compared to the overall portfolio.
""")

================================================================================
APPLYING DATA SELECTION CRITERIA FOR LIFELONG LEARNING LOANS
================================================================================

ORIGINAL DATASET:
  Total records: 307,511
  Goods (TARGET=0): 282,686
  Bads (TARGET=1): 24,825
  Bad rate: 8.07%

================================================================================
APPLYING 5 FILTERING CRITERIA
================================================================================

FILTERED DATASET (Target Segment):
  Total records: 9,434
  Goods (TARGET=0): 8,506
  Bads (TARGET=1): 928
  Bad rate: 9.84%

================================================================================
COMPARISON METRICS
================================================================================

RETENTION:
  Records retained: 9,434 out of 307,511
  Retention rate: 3.07%

BAD RATE COMPARISON:
  Original bad rate: 8.07%
  Filtered bad rate: 9.84%
  Difference: +1.76 percentage points
  → Target segment is HIGHER RISK (worse than average)

================================================================================
BREAKDOWN BY INDIVIDUAL CRITERIA
================================================================================

How each criterion narrows the dataset:

1. Age (25-55 years)
  Records: 226,662 (73.71%)
  Bad rate: 8.71%

2. Employment (1+ years)
  Records: 224,233 (72.92%)
  Bad rate: 8.37%

3. Income (36K-72K)
  Records: 23,229 (7.55%)
  Bad rate: 7.86%

4. Income Type (Working/Commercial/State)
  Records: 252,094 (81.98%)
  Bad rate: 8.66%

5. Contract Type (Cash loans)
  Records: 278,232 (90.48%)
  Bad rate: 8.35%

DATA SELECTION RESULTS:

1. ORIGINAL DATASET SIZE: 307,511 applicants

2. FILTERED DATASET SIZE: 9,434 applicants
   - Retention rate: 3.07%

3. BAD RATE COMPARISON:
   - Original dataset: 8.07%
   - Target segment: 9.84%
   - Difference: +1.76 percentage points

4. INTERPRETATION:
   The target segment for lifelong learning loans (mid-career professionals
   aged 25-45 with stable employment and middle income) represents
   3.07% of the original dataset and shows a
   HIGHER
   default risk compared to the overall portfolio.